body {
    background-color: rgb(188, 216, 237);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.common {
    background-color: white;
    border: 2px solid white;
    position: absolute;
}
.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: solid 1px #555555;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 10px;
    background-color: rgb(164, 68, 255);
    color: rgb(227, 227, 227);
}
.leftmenu {
    top: 114px;
    left: 5px;
    width: 300px;
   /* bottom: 39px; */
    z-index: 1;
    border-right: solid 1px #555555;
    padding-left: 5px;
    padding-top: 5px;
}
.mainbody {
    top: 114px;
    left: 214px;
    right: 214px;
    padding-right: 5px;
    padding-left: 5px;
    line-height: 25px;
    text-align: center;
}
.rightmenu {
    top: 114px;
    right: 5px;
    width: 300px;
   /* bottom: 39px; */
    border-left: solid 1px #555555;
    padding-left: 5px;
    padding-top: 5px;
}
.footer {
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 25px;
    font-size: 8px;
    color: #999999;
    text-align: center;
    padding-top: 15px;
    position: fixed;
}
.subheader {
    float: right;
    color: rgb(215, 214, 214);
    text-align: right;
}
.tableau {
    width: 300px;
}